<configuration>
    <timestamp key="bySecond" datePattern="yyyyMMdd'_Time_'HHmmss"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class ="ch.qos.logback.classic.filter.ThresholdFilter" >
            <level> "INFO" </level>
        </filter>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
     <file>logs/log-${bySecond}.txt</file>
         <encoder>
             <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>

         </encoder>
     </appender>

    <logger name="main.java.testLogFile" level="INFO" >
                <appender-ref ref="console" />
    </logger>

    <logger name="ch.qos.logback.*" level="DEBUG" >
        <appender-ref ref="file" />
    </logger>


    <!-- <root level="INFO">
          <appender-ref ref="console"/>
      </root>

                  -->
     <root level="DEBUG">
          <appender-ref ref="file" />
      </root>
</configuration>