<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class ="ch.qos.logback.classic.filter.ThresholdFilter" >
            <level> "INFO" </level>
        </filter>
    </appender>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
      <!--  <file>logs/${HH:mm:ss.SSS}.log</file>      -->
        <file>logs/mylog.%d{yyyy-MM-dd}.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
    <!--    <appender-ref ref="CONSOLE" />     -->
        <appender-ref ref="file" />
    </root>
</configuration>